@page "/"
@inject IJSRuntime JS

<PageTitle>Home</PageTitle>
<h1>Home</h1>

<p>This is a Blazor server application (Using ApexCharts Library) which shows the following 2 pages:</p>
<ul>
    <li>A chart with no data, showing just the default view</li>
    <li>A chart with data</li>
</ul>
<p>Both the pages have a "Random Data" button which reloads the line chart with randomly generated data</p>
<p>The Data I've used for these charts is just dummy sales data for the months of January to September</p>